@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #DEDFE4;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.converter-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* Ensures Converter Page Fills Screen */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    /* Adjust spacing if navbar overlaps */
}